.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
currentproblem/.cph/.currentProblem.cpp_4cef79b354c3541c88b376586ce2a9b0.prob
currentproblem/.cph/.currentProblem.cpp_c3378654b1de18ce3341eda1291021d1.prob
currentproblem/currentProblem.bin